@import "../../../App.sass"

.header-container 
    height: 60px
    display: flex
    justify-content: space-between
    align-items: center
    background: $primary
    position: fixed
    width: 100%
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.2), 0 0 0 1px rgba(10, 10, 10, 0.1)


.back-icon 
    position: fixed
    margin: 18px
    z-index: 10
    color: white
    font-size: 24px

.header-title-container 
    display: flex
    justify-content: flex-end
    align-content: center
.header-title 
    display: block
    font-size: 25px
