.selected-payer-box
    box-shadow: 0px 0px 5px rgba(250, 124, 145, 0.6)
    
.selected-payer-icon
    color: #fa7c91
    font-size: 22px

.selected-payer-name
    font-weight: bold
    font-size: 20px