@import "../../../../App.sass"
.expense-row-list-container
    display: flex
    flex-direction: column
    margin: auto
    justify-content: center
    align-items: center
    max-width: 600px

.expense-row-box
    background-color: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.25), 0 3px 6px rgba(0,0,0,0.1)
    color: #757763;
    display: block;
    padding: 1.45rem;
    margin: 0 5px
    border-bottom: 1px solid #cccccc
    width: 93%

.expense-row-box:last-child
    border-radius:  0 0 15px 15px

.expense-row-box:first-child
    margin-top: 100px
    border-radius: 15px 15px 0 0

.expense-row-container
    display: flex
    justify-content: space-between
    font-size: 24px

.bottom-container
    display: flex
    justify-content: space-between

.expense-row-users-name
    color: $primary
    font-size: 20px
    line-height: 1.8

.expense-row-amount
    font-weight: bold
    color: $link

.expense-row-category
    font-weight: 800

.expense-row-date
    font-weight: 500
    font-size: 15px

