@import "../../../../App.sass"

.expense-row-box
    background-color: white;
    // border-radius: 6px;
    // box-shadow: 0 2px 3px rgba(10, 10, 10, 0.2), 0 0 0 1px rgba(10, 10, 10, 0.1);
    color: #757763;
    display: block;
    padding: 1.45rem;
    // margin: 10px 0px
    border-bottom: 1px solid #cccccc

// .expense-row-box:not(:last-child)
//     margin-bottom: 10px

.expense-row-container
    display: flex
    justify-content: space-between
    font-size: 24px

.bottom-container
    display: flex
    justify-content: space-between

.expense-row-users-name
    // font-weight: bold
    color: $primary
    font-size: 20px
    line-height: 1.8

.expense-row-amount
    font-weight: bold
    color: $link

.expense-row-category
    font-weight: 800

.expense-row-date
    font-weight: 500
    font-size: 15px

