.expense-row-box
    margin: 10px 10px

.expense-row-container
    display: flex
    justify-content: space-between
    font-size: 24px

.bottom-container
    display: flex
    justify-content: space-between

