@charset "utf-8"

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700')

// Set your brand colors
// $purple: #8a4d76;
$pink: #D0191E;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;
$purple: #6155AE

$test-primary: #fa7c91;
$is-link: #6155AE

$break-medium: 900px;



// Update Bulma's global variables
$family-sans-serif: 'Nunito', sans-serif;
// $grey-dark: $brown;
// $grey-light: $beige-light;
$primary: $purple;
$link: $purple;
// $widescreen-enabled: false;
// $fullhd-enabled: false;
// $box-shadow: 0px 0px 9px rgba(250, 124, 145, 0.6)

$my-box-shadow: 0 2px 3px rgba(10, 10, 10, 0.2), 0 0 0 1px rgba(10, 10, 10, 0.1);

// Import only what you need from Bulma
@import "../node_modules/bulma/bulma.sass"

@media screen and ( min-width:  $break-medium)
    .app-bg 
        margin-left: 70px

.floating-button
    border-radius: 50%
    width: 55px
    height: 55px
    position: fixed
    bottom: 80px
    right: 10px
    box-shadow: 0 3px 3px rgba(10, 10, 10, 0.2), 0 0 0 1px rgba(10, 10, 10, 0.1)